<!DOCTYPE html>

<html lang="pl">

<head>
    <title>Strona główna</title>
</head>
<body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ankiety/style.css' %}">

<div class="center">
<h3>Dostępne ankiety:</h3>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}

        <li><a href="{% url 'ankiety:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak ankiet.</p>
{% endif %}

<br>

<h3>Sprawdź, czy Twoja odpowiedź znajduje się w bazie:</h3>
<form action="{% url 'ankiety:useranswers' %}" method="post">
{% csrf_token %}
<input type="text" name="user_id" id="user_id">
<input type="submit" value="Sprawdź">
</form>

<br>
<a href="/ankiety/adminpanel">Sprawdź czy użytkownik zagłosował</a>

</div>
</body>
</html>